In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [26]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.metrics import classification_report

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [6]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [7]:
#Refer to module 18.7.2
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Create our features
df2=df.copy()


#Use binary encoding on pymnt plan/hardship flag/debt settlement flag = ONE COLUMN EACH
loans_binary_encoding = pd.get_dummies(df2, columns=["initial_list_status", "application_type", "pymnt_plan", "hardship_flag", "debt_settlement_flag"])
loans_binary_encoding.head()

#Use label encoding on:
#home_ownership = OWN/RENT/MORTGAGE/ANY
#verification_status = NOT VERIFIED/SOURCE VERIFIED/VERIFIED
#loan status = HIGH RISK/LOW RISK
#**Loan status is label encoded so it is easier to drop a singular column
df3=loans_binary_encoding.copy()
df3["loan_status"] = le.fit_transform(df3["loan_status"])
df3["verification_status"] = le.fit_transform(df3["verification_status"])
df3["home_ownership"]=le.fit_transform(df3["home_ownership"])

#Use custom encoding on month issue column
#Create a dictionary of months in dataframe
issue_month = {
    "Jan-2019": 1,
    "Feb-2019": 2,
    "Mar-2019": 3,
    "Apr-2019": 4,
    "May-2019": 5,
}
#Apply custom function to convert string to integers
df3["month_issued"] = df3["issue_d"].apply(lambda x: issue_month[x])
df3["next_payment"] = df3["next_pymnt_d"].apply(lambda x: issue_month[x])
X = df3.drop(["loan_status","issue_d","next_pymnt_d"], axis = 1)


# Create our target
y = df3["loan_status"]

X.head(15)

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,total_il_high_credit_limit,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,month_issued,next_payment
0,10500.0,0.1719,375.35,3,66000.0,1,27.24,0.0,0.0,8.0,...,61987.0,0,1,1,0,1,1,1,3,5
1,25000.0,0.2000,929.09,1,105000.0,2,20.23,0.0,0.0,17.0,...,49197.0,0,1,1,0,1,1,1,3,5
2,20000.0,0.2000,529.88,1,56000.0,2,24.26,0.0,0.0,8.0,...,43144.0,0,1,1,0,1,1,1,3,5
3,10000.0,0.1640,353.55,3,92000.0,2,31.44,0.0,1.0,10.0,...,76506.0,0,1,1,0,1,1,1,3,5
4,22000.0,0.1474,520.39,1,52000.0,0,18.76,0.0,1.0,14.0,...,20000.0,0,1,1,0,1,1,1,3,5
5,25000.0,0.1797,634.43,1,90000.0,1,18.49,1.0,1.0,14.0,...,369051.0,0,1,1,0,1,1,1,3,5
6,20400.0,0.2000,540.48,3,51315.0,1,25.63,0.0,2.0,8.0,...,27523.0,0,1,1,0,1,1,1,3,5
7,10000.0,0.1557,349.46,2,66000.0,1,9.00,0.0,0.0,11.0,...,12500.0,0,1,1,0,1,1,1,3,5
8,14000.0,0.0881,443.96,3,45000.0,0,10.24,0.0,1.0,9.0,...,3000.0,1,0,1,0,1,1,1,3,5
9,10000.0,0.1474,345.39,3,63295.0,2,39.34,0.0,0.0,27.0,...,80722.0,0,1,1,0,1,1,1,3,5
10,8500.0,0.0819,267.11,3,75000.0,0,17.31,0.0,2.0,8.0,...,57000.0,0,1,1,0,1,1,1,3,5
11,10000.0,0.1171,330.76,3,54000.0,0,21.49,0.0,2.0,18.0,...,65500.0,0,1,1,0,1,1,1,3,5
12,30000.0,0.1033,642.30,1,100000.0,1,8.00,0.0,0.0,4.0,...,20000.0,0,1,1,0,1,1,1,3,5
13,15800.0,0.1640,387.60,1,62000.0,1,8.44,0.0,1.0,5.0,...,4100.0,0,1,1,0,1,1,1,3,5
14,18000.0,0.1557,433.63,1,60000.0,2,62.80,0.0,0.0,9.0,...,73796.0,0,1,0,1,1,1,1,3,5

In [8]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,total_il_high_credit_limit,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,month_issued,next_payment
count,68817.000000,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0,68817.0,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,1.812779,8.821371e+04,0.669994,21.778153,0.217766,0.497697,12.587340,...,5.572240e+04,0.123879,0.876121,0.860340,0.139660,1.0,1.0,1.0,1.726172,4.616839
std,10277.348590,0.048130,288.062432,0.941313,1.155800e+05,0.719105,20.199244,0.718367,0.758122,6.022869,...,5.095845e+04,0.329446,0.329446,0.346637,0.346637,0.0,0.0,0.0,0.743862,0.486161
min,1000.000000,0.060000,30.890000,0.000000,4.000000e+01,0.000000,0.000000,0.000000,0.000000,2.000000,...,1.270000e+02,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0,1.000000,4.000000
25%,9000.000000,0.088100,265.730000,1.000000,5.000000e+04,0.000000,13.890000,0.000000,0.000000,8.000000,...,2.288000e+04,0.000000,1.000000,1.000000,0.000000,1.0,1.0,1.0,1.000000,4.000000
50%,15000.000000,0.118000,404.560000,1.000000,7.300000e+04,1.000000,19.760000,0.000000,0.000000,11.000000,...,4.200000e+04,0.000000,1.000000,1.000000,0.000000,1.0,1.0,1.0,2.000000,5.000000
75%,24000.000000,0.155700,648.100000,3.000000,1.040000e+05,1.000000,26.660000,0.000000,1.000000,16.000000,...,7.249900e+04,0.000000,1.000000,1.000000,0.000000,1.0,1.0,1.0,2.000000,5.000000
max,40000.000000,0.308400,1676.230000,3.000000,8.797500e+06,2.000000,999.000000,18.000000,5.000000,72.000000,...,1.426964e+06,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,3.000000,5.000000

In [9]:
# Check the balance of our target values
y.value_counts()

1    68470
0      347
Name: loan_status, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1,stratify=y)
X_train.shape

(51612, 87)

In [13]:
from sklearn.preprocessing import StandardScaler
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [41]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
#Create a random forest classifier
#n_estimators is the number of trees that will be created(best to use 64<x<128)
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
#Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)
#Make predictions using testing data
predictions = rf_model.predict(X_test_scaled)
predictions

array([0, 1, 1, ..., 1, 1, 1])

In [43]:
# Calculated the balanced accuracy score
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8850915431560593

In [42]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)

#Create a DF from the confusion matrix
cm_df = pd.DataFrame(
    cm,index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
cm_df

          Predicted 0  Predicted 1
Actual 0           59           28
Actual 1         1949        15169

In [44]:
# Print the imbalanced classification report
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score: {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           59           28
Actual 1         1949        15169

Accuracy Score: 0.8850915431560593
Classification Report
              precision    recall  f1-score   support

           0       0.03      0.68      0.06        87
           1       1.00      0.89      0.94     17118

    accuracy                           0.89     17205
   macro avg       0.51      0.78      0.50     17205
weighted avg       0.99      0.89      0.93     17205

In [45]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
sorted(zip(importances, X.columns), reverse=True)

[(0.08527848163602648, 'total_rec_prncp'),
 (0.06356882396976653, 'total_pymnt_inv'),
 (0.05987367548889426, 'total_rec_int'),
 (0.05777756511654361, 'last_pymnt_amnt'),
 (0.04999312030608932, 'total_pymnt'),
 (0.02588870304986553, 'int_rate'),
 (0.024466075590205208, 'month_issued'),
 (0.020505808655639484, 'installment'),
 (0.01990408580240233, 'dti'),
 (0.019001434235874082, 'out_prncp'),
 (0.01789170211744968, 'annual_inc'),
 (0.01706302915758019, 'max_bal_bc'),
 (0.017038896659870875, 'bc_util'),
 (0.016689548751881327, 'mths_since_recent_inq'),
 (0.015791377667601747, 'revol_bal'),
 (0.015275787355913357, 'all_util'),
 (0.015199473100164538, 'out_prncp_inv'),
 (0.01513455569800538, 'tot_hi_cred_lim'),
 (0.014915917659242378, 'avg_cur_bal'),
 (0.014624654339140388, 'mo_sin_old_rev_tl_op'),
 (0.014532529402618198, 'il_util'),
 (0.014272062751504184, 'tot_cur_bal'),
 (0.014239424181489336, 'total_bc_limit'),
 (0.013995066664605193, 'mths_since_rcnt_il'),
 (0.013288540171726817, 'total_rev_hi_lim'),
 (0.013041238891735129, 'bc_open_to_buy'),
 (0.012859358372813646, 'mo_sin_rcnt_tl'),
 (0.01255765028186737, 'total_bal_ex_mort'),
 (0.012284763727974442, 'total_bal_il'),
 (0.011641686107295917, 'num_rev_accts'),
 (0.01163260043543184, 'total_acc'),
 (0.011117394964009502, 'mo_sin_old_il_acct'),
 (0.01110389915040658, 'mo_sin_rcnt_rev_tl_op'),
 (0.010111254857439925, 'num_bc_tl'),
 (0.010068268350240014, 'num_il_tl'),
 (0.010026236845356858, 'total_il_high_credit_limit'),
 (0.009632200198395374, 'mths_since_recent_bc'),
 (0.009628818577715841, 'loan_amnt'),
 (0.009353065977552288, 'num_sats'),
 (0.00933036176036953, 'num_op_rev_tl'),
 (0.009116589407102334, 'inq_last_12m'),
 (0.009056193472379714, 'open_acc'),
 (0.008792021276495001, 'num_rev_tl_bal_gt_0'),
 (0.008422044343802053, 'acc_open_past_24mths'),
 (0.008209141806208492, 'open_rv_24m'),
 (0.00800370905305701, 'inq_fi'),
 (0.007871638395185855, 'num_bc_sats'),
 (0.007096423430706702, 'num_actv_rev_tl'),
 (0.007089639710654236, 'percent_bc_gt_75'),
 (0.007012085865381638, 'open_acc_6m'),
 (0.006852118378730866, 'num_actv_bc_tl'),
 (0.006821754274858845, 'mort_acc'),
 (0.006726889677988846, 'total_rec_late_fee'),
 (0.006325384145213641, 'open_il_12m'),
 (0.006254195813276799, 'total_cu_tl'),
 (0.0060159375381634, 'open_il_24m'),
 (0.0057253203372995935, 'pct_tl_nvr_dlq'),
 (0.005577682525940566, 'open_act_il'),
 (0.0050790113103444355, 'tot_coll_amt'),
 (0.0049304193399135636, 'inq_last_6mths'),
 (0.004643350331108008, 'verification_status'),
 (0.004621899865051653, 'num_tl_op_past_12m'),
 (0.0045728636286989765, 'delinq_2yrs'),
 (0.0044391835645263816, 'open_rv_12m'),
 (0.004146484971465341, 'next_payment'),
 (0.003569039867952211, 'num_accts_ever_120_pd'),
 (0.0031263662435400165, 'home_ownership'),
 (0.0018048938813203148, 'application_type_Joint App'),
 (0.0016971064369401697, 'application_type_Individual'),
 (0.001364602467510132, 'pub_rec_bankruptcies'),
 (0.001179994635798781, 'pub_rec'),
 (0.001067385988861428, 'initial_list_status_w'),
 (0.0010606686625835365, 'num_tl_90g_dpd_24m'),
 (0.0009327771829305368, 'initial_list_status_f'),
 (0.000196044140304047, 'collections_12_mths_ex_med'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [54]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
#learning_rates = [0.05, 0.1, 0.15, 0.25, 0.5, 0.75, 1]
#for learning_rate in learning_rates:
        #classifier = EasyEnsembleClassifier(n_estimators=100,
        #                                   random_state=1)

#classifier.fit(X_train_scaled, y_train)

eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [59]:
# Calculated the balanced accuracy score
acc_score = accuracy_score(y_test, y_pred)
acc_score

0.5529787852368497

In [58]:
# Display the confusion matrix
y_pred = eec.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
   cm, index=["Actual 0", "Actual 1"],
   columns=["Predicted 0", "Predicted 1"]
)
display(cm_df)

          Predicted 0  Predicted 1
Actual 0           47           40
Actual 1         7651         9467

In [60]:
# Print the imbalanced classification report
print("Classification Report")
print(classification_report(y_test, y_pred))

Classification Report
              precision    recall  f1-score   support

           0       0.01      0.54      0.01        87
           1       1.00      0.55      0.71     17118

    accuracy                           0.55     17205
   macro avg       0.50      0.55      0.36     17205
weighted avg       0.99      0.55      0.71     17205