# Credit Risk Resampling Techniques

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Read the CSV and Perform Basic Data Cleaning

In [3]:
columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [61]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [67]:
df['delinq_2yrs'].unique()

array([ 0.,  1.,  2.,  4.,  6.,  3.,  7.,  8.,  5.,  9., 10., 13., 11.,
       18., 15., 14., 12., 17.])

In [72]:
for column in columns:
    print(f"{[column]}: {df[column].unique()}")

['loan_amnt']: [10500. 25000. 20000. ... 17850. 16575. 38675.]
['int_rate']: [0.1719 0.2    0.164  0.1474 0.1797 0.1557 0.0881 0.0819 0.1171 0.1033
 0.225  0.139  0.0756 0.0646 0.0702 0.1308 0.124  0.1102 0.25   0.288
 0.29   0.1131 0.1894 0.234  0.1356 0.1298 0.1447 0.2631 0.2235 0.1502
 0.118  0.1691 0.1072 0.1614 0.2935 0.289  0.2892 0.2897 0.1992 0.2534
 0.2089 0.2727 0.2895 0.2437 0.2969 0.3017 0.06   0.3065 0.2872 0.3084
 0.3075 0.3079]
['installment']: [ 375.35  929.09  529.88 ...  254.82 1215.33  226.92]
['home_ownership']: ['RENT' 'MORTGAGE' 'OWN' 'ANY']
['annual_inc']: [ 66000. 105000.  56000. ...  46572.  75005. 520000.]
['verification_status']: ['Source Verified' 'Verified' 'Not Verified']
['issue_d']: ['Mar-2019' 'Feb-2019' 'Jan-2019']
['loan_status']: ['low_risk' 'high_risk']
['pymnt_plan']: ['n']
['dti']: [ 27.24  20.23  24.26 ...  46.01  48.16 147.1 ]
['delinq_2yrs']: [ 0.  1.  2.  4.  6.  3.  7.  8.  5.  9. 10. 13. 11. 18. 15. 14. 12. 17.]
['inq_last_6mths']: [0. 1. 2. 3. 5. 4.]
['open_acc']: [ 8. 17. 10. 14. 11.  9. 27. 18.  4.  5. 19.  7.  6. 29. 13. 26. 15. 16.
 20. 21. 12. 25. 22. 23. 24. 32. 33. 31. 34.  3. 37. 46. 28. 35. 30. 52.
 38. 51. 36. 42.  2. 45. 43. 58. 39. 40. 54. 41. 49. 44. 56. 55. 48. 59.
 47. 62. 69. 53. 50. 57. 68. 60. 72.]
['pub_rec']: [0. 1. 2. 3. 4.]
['revol_bal']: [ 1609. 18368. 13247. ... 58392. 32291. 59529.]
['total_acc']: [ 14.  34.  21.  23.  28.  58.  35.  12.  20.  36.  19.  18.  26.  54.
  39.  16.  13.  27.  38.   8.  46.  17.  25.  55.  11.  22.   7.  47.
  29.  33.  40.   5.  15.  31.  52.  37.  32.  45.  24.  10.  42.   9.
  62.  48.  87.  50.  61.  43.  30.   4.  41.  51.  53.  64.  65.  66.
   6.  75.  49.  44.  56.  57.  59.  78.  72.  94.  63.  74.  73.  67.
   3.  60.  76. 115.  96.  77.  68.  71.  79.  82.  81.  84.  80.  70.
 100.  89.  69.  88.  83. 106. 101.  93.  98. 113.  90.  92.  95.  85.
 102.  99. 108.  97.  86. 164. 112. 116. 105.]
['initial_list_status']: ['w' 'f']
['out_prncp']: [10204.87 24293.13 19636.79 ...  6409.75 26167.02  4666.78]
['out_prncp_inv']: [10204.87 24293.13 19636.79 ...  6409.75 26167.02  4666.78]
['total_pymnt']: [ 355.29  873.53  485.44 ...  676.42 2964.79  571.33]
['total_pymnt_inv']: [ 355.29  873.53  485.44 ...  676.42 2964.79  571.33]
['total_rec_prncp']: [ 295.13  706.87  363.21 ...  490.25 1832.98  333.22]
['total_rec_int']: [  60.16  166.66  122.23 ...  737.16 1131.81  238.11]
['total_rec_late_fee']: [ 0.   15.   27.87 38.07 38.56 74.25 38.08 36.59 34.06 17.63 43.4  15.06
 65.77 25.81 52.88 46.08 26.27 23.92 16.21 35.82 17.2  18.69 28.28 19.29
 75.24 22.27 19.43 19.03 49.33 17.61 27.1  21.68 26.99 28.21 44.29 44.41
 21.37 30.94 52.15 32.42 18.22 62.27 27.96 30.   23.51 37.57 27.53 34.68
 44.91 22.74 64.97 20.37 22.48 19.56 35.61 28.02 22.57 15.32]
['recoveries']: [0.]
['collection_recovery_fee']: [0.]
['last_pymnt_amnt']: [ 375.35  929.09  529.88 ...  254.82 1215.33  226.92]
['next_pymnt_d']: ['May-2019' 'Apr-2019']
['collections_12_mths_ex_med']: [0. 1. 2. 4. 3.]
['policy_code']: [1.]
['application_type']: ['Individual' 'Joint App']
['acc_now_delinq']: [0.]
['tot_coll_amt']: [ 178.  165.    0. ... 3654. 5212. 1181.]
['tot_cur_bal']: [ 38199. 228119.  45684. ...  60350. 864480. 225413.]
['open_acc_6m']: [ 3.  2.  0.  1.  5. 10.  4.  6.  8.  7.  9. 11. 14. 12.]
['open_act_il']: [ 4.  3.  1.  2.  8.  7.  6. 15.  5.  0. 10. 11. 14. 12. 18. 21. 16.  9.
 29. 13. 24. 22. 20. 26. 17. 28. 41. 19. 31. 38. 25. 27. 23. 36. 35. 53.
 63. 42. 30.]
['open_il_12m']: [2. 1. 0. 3. 4. 6. 5.]
['open_il_24m']: [ 4.  3.  2.  6.  0.  1.  5.  7. 10.  8. 11.  9. 12. 13. 14. 22. 17.]
['mths_since_rcnt_il']: [  3.   4.   9.  14.  24.   5.  42.   7.   6.  11.  13.  15.  10.   2.
  21.   8.  40.  32.  31.  16.  19.  17.   1.  20.  23.  12.  25.  39.
  22.  61.  28.  27.  35. 107.  45.  34.  63.  36.  18.  55.  54.  80.
  26.  29.  41.  87.  30.  52.  83.  53.  49.  57.  33.  37. 161.  38.
  68.  58.  66. 113.  47.  91. 136.  99.  65.  51.  44.  43.  59. 101.
  97. 134.  46.  67. 114.  48.  79. 360.  70.  50.  69. 112.  89. 147.
 103.  93.  90. 127.  98.  72.  60. 162. 151. 115. 116.  62. 108.  76.
 175.  78.  64.  56. 124. 150.   0.  75. 120. 110. 152. 100.  71. 212.
 106. 148.  77. 187. 104.  82.  94. 144. 131. 166. 123. 157. 197. 137.
 105. 102. 109.  96.  84. 190. 168. 133.  81.  95.  73. 163.  92. 158.
 167. 135.  85. 138. 177. 171. 125. 170.  74. 121. 146. 362. 132.  88.
 142. 193. 149. 126. 117. 219. 160.  86. 141. 194. 156. 196. 129. 389.
 165. 173. 237. 192. 139. 208. 181. 111. 130. 153. 118. 361. 262. 119.
 145. 188. 238. 172. 164. 159. 169. 122. 200.]
['total_bal_il']: [36590. 42273. 32437. ... 47036. 27151. 62953.]
['il_util']: [ 59.  86.  75.  66.  84.  76. 104.  89.  65.  88.  51.  69.  73.  81.
  77.  74.  56.  52.  57.  71. 149.  20.  90.  58.  43.  91.  63.  41.
   8. 100.  78.  87.  72.  79.  80.  62.  85.  67.  55.  48.  99.  53.
  44.  60.   3.  46.  82.  61. 114.  54.  92.  68. 101.  38.  94.  98.
  31. 107.  93.  70.  45.  64. 106.  39.  83.  50.  35.  42.  19.  10.
  97.  95.  34.  47.  96.  26. 115. 103. 153.   2. 111.  32.  22.  24.
  11. 127.  37.  36. 121. 119.  25.  21.  33.  40.  17.  29.  16. 112.
 105.  49.  30.  13. 117. 102. 129. 108. 131.  28.  15.   9.  14. 136.
 125. 126.  27.  18. 113. 130. 158.  23. 109. 137.   5.   6. 151. 116.
 128. 120. 155. 139.   1. 157.  12. 110. 124. 147. 142.   7. 133. 138.
   4. 146. 148. 118. 132. 144. 141. 150. 123. 143.   0. 135. 152. 190.
 122. 134. 161. 140. 165. 231. 214. 154. 164. 169. 156. 166. 162. 207.
 262. 198. 159. 241. 227. 176. 172. 196. 187. 313. 232. 170. 194. 191.
 219. 175. 160. 201. 185. 183. 163.]
['open_rv_12m']: [ 1.  4.  2.  0.  3.  7. 14.  9.  6.  5. 11.  8. 13. 10. 16. 12. 15. 18.]
['open_rv_24m']: [ 2.  8.  3.  1.  4.  6.  9.  5.  0.  7. 15. 10. 11. 13. 14. 12. 18. 22.
 31. 21. 16. 24. 20. 17. 19. 23. 34. 26. 25. 37. 44. 27. 29. 30.]
['max_bal_bc']: [ 1553.  5197.  2810. ... 18924. 15882. 38479.]
['all_util']: [ 58.  61.  75.  69.  41.  73.  59.  76.  39.  65.  77.  28.  35.  87.
  56.  74.  79.  55.  52.  78.  50.  37.  70.  67.  49.  48.  66.  71.
  64.  38.  20.  60.  53.  85.  63.  86.  72.  47.  62.  13.  51.  31.
  40.  80.  12.  88.  68.  57.   8. 106.  44.  90.  16.  29.  42.  82.
  99.  25.  84.  45.  81.  89.  43.  46.  21.  36.  19.  22.  34.  97.
  54.  15.  23.  95.  33.  91.  30. 100.  32.  93.  83. 104.   7. 109.
   6.  92.  24. 101.  27.   3.  18.  96.  98.  94.  17.  14. 102. 110.
  26.  10. 111.   2. 120. 130. 116.  11. 108. 105.   9. 112. 107. 103.
 136.   5. 118. 133. 134. 115. 113.   4. 114. 121. 150. 117. 125. 126.
 135. 119. 127. 123. 145. 122.   1. 149. 147. 124. 129. 142. 137. 131.
 152. 156. 132. 216. 141. 128. 174. 143.]
['total_rev_hi_lim']: [  3700.  50400.  17500. ... 272500. 263500. 259100.]
['inq_fi']: [ 1.  4.  0.  3.  2.  6.  5.  8.  9.  7. 13. 16. 12. 10. 11. 14. 17. 19.
 18. 15. 24. 29. 25. 22.]
['total_cu_tl']: [ 0.  9.  4.  5.  2. 10.  3.  1.  7. 15. 14.  6. 11.  8. 12. 18. 27. 13.
 16. 17. 37. 20. 30. 23. 22. 19. 48. 21. 31. 70. 26. 25. 24. 35. 28. 38.
 29. 51. 55. 34. 36. 33. 44.]
['inq_last_12m']: [ 4.  3.  1.  2.  6.  0.  5.  8. 14.  7. 12. 16. 10.  9. 11. 24. 15. 13.
 17. 22. 18. 19. 23. 29. 20. 33. 25. 21. 30. 42. 26. 39. 27. 31.]
['acc_open_past_24mths']: [ 6. 13.  4.  8.  2.  3.  5.  7.  1.  9. 10. 19.  0. 11. 20. 14. 15. 18.
 12. 17. 21. 25. 16. 35. 22. 26. 23. 24. 27. 36. 28. 38. 45. 29. 30. 31.
 32.]
['avg_cur_bal']: [ 4775. 13419.  5711. ... 16015.  7544. 41166.]
['bc_open_to_buy']: [  447. 29502.  2839. ... 28669. 43528. 41467.]
['bc_util']: [ 77.7  28.4  62.1 ... 106.  149.7 110. ]
['chargeoff_within_12_mths']: [0. 1. 2.]
['delinq_amnt']: [    0. 32894.   357.  1535. 17033.  3094. 16386. 18336.   903.   118.
 65000.    84.  5778.]
['mo_sin_old_il_acct']: [ 93.  87. 159. 100.  67. 198. 132.  42. 134. 193.  79.  55. 133.  74.
  50. 153. 136. 170. 181. 146. 175. 151. 268. 176. 135. 188. 184.  78.
 207. 171.  56. 103. 158.  83. 143. 129. 280. 144. 178.  90. 163. 155.
 191. 156. 128.  94.  17.  62. 115.  41. 108. 150. 173. 114. 165. 152.
 117. 119.  39. 223. 194. 125. 139. 127. 106. 197. 271. 138. 160. 101.
 137.  72. 140.  61.  96.   7.  99. 123.  60. 177.  33. 112. 192. 120.
 145.  65.  85. 210. 124. 187.  66.  53. 190. 149. 199.  22.  91. 258.
 118.  13.  84.  57.  48. 126.  14. 211.  95. 179.  86. 328. 131.  97.
 172. 148. 169. 141. 116. 277. 121. 142.  54.  81. 147. 208.  70. 162.
 110.  21. 167. 102.  82. 215.  23.  36.   5. 168. 260. 164. 107. 183.
  43. 262. 311.  77. 332.  98. 104.   6.  68.  69. 257.  64. 113. 122.
 232. 111.  45.  76. 154.   2. 241. 185. 130. 195. 218. 109. 161. 182.
  29.  51. 206. 196. 264.  24. 174.  25.  80.  37.  16. 463.  15. 166.
   9.  34. 213.  71. 237. 189. 186.  88. 263.  32.  11. 202.  31. 226.
 287.  92.  10. 105.  47. 312. 283.  75. 209.  58.  40. 216.  59. 228.
  38. 272.  20. 203.  26. 233. 261. 227. 297. 229.  18.  73.  49.  46.
 254.  27. 239. 245.  12. 204.  30. 281. 247.  35.   3.  28. 222. 224.
 225. 343. 240. 333. 244. 234. 221. 316.  44. 214. 205. 243. 344.  63.
 180. 284.  52. 157. 425. 298. 246. 200. 249.  89. 329. 270. 326. 256.
 282. 212. 294. 269.  19. 242. 360. 274. 265. 235. 219. 293. 339.   8.
 276. 275. 238. 236. 363. 304. 201. 303. 383.   1. 231. 230. 485. 220.
 437. 279. 448. 248. 217. 334. 372. 251. 259. 296. 320. 278. 384. 255.
 338. 315. 302. 378. 295. 307. 353. 335. 291. 250. 300. 267. 461. 318.
 330. 309.   4. 327. 376. 322. 289. 273. 310. 351. 285. 434. 433. 380.
 286. 305. 306. 336. 319. 379. 352. 402. 313. 292. 347. 365. 358. 252.
 288. 253. 606. 290. 266. 370. 368. 345. 396. 350. 317. 558. 349. 301.
 412. 403. 420. 324. 399. 414. 423. 456. 362. 576. 364. 438. 531. 331.
 354. 445. 422. 299. 386. 369. 342. 321. 381. 355. 361. 409. 398. 341.
 377. 471. 325. 419. 367. 389. 451. 356. 392. 340. 374. 387. 458. 366.
 500. 397.   0. 385. 428. 395. 348. 519. 484. 371. 408. 308. 411. 314.
 323. 400. 375. 417. 382. 454. 404. 415.]
['mo_sin_old_rev_tl_op']: [ 96. 286. 156.  89. 138. 214. 158.  59. 180. 268.  74. 271. 132. 159.
  52. 194.  80. 304. 313.  78. 430. 114. 225.  67. 163. 106. 173. 174.
 321. 245. 235. 298. 232.  85. 152.  97. 182. 126. 129. 326. 259. 353.
 250.  49. 162. 146. 324.  47.  90. 140.  54. 154. 216.  72. 290. 230.
 188. 340. 169. 241. 266. 127. 104. 306.  81. 198.  88. 226. 289. 175.
 281. 151. 122.  75. 167.  53. 205. 100. 322.  92. 123. 264. 160. 118.
 347. 220. 244.  44.  61.  99. 257. 172.  66.  94. 493.  27.  36. 135.
 296. 124.  33. 136. 186. 112. 488. 451.  83. 125. 142. 195. 155. 168.
 278.  20.  71.  56. 137. 128. 358. 310. 222.  41. 165. 253. 189. 196.
 419. 357.  91. 218. 203.  45. 150.  43. 285. 291. 181.  32. 431.  82.
  34. 149. 144.  84. 102.  62. 171. 148. 134. 113. 164. 190. 215. 183.
  68.  77. 210.  19. 139. 515. 343. 284. 133.  24. 117. 201.  65.  42.
 234.  46. 101. 131. 239. 153. 231.  48. 199. 267. 349.  87. 408. 224.
  86. 312.  58.  95. 329. 227.  63.  57. 178. 187. 238. 356. 130.  70.
 418. 193. 242. 111.  60. 301.  93. 279. 327. 441. 115. 249. 293. 179.
  76. 204. 176. 233. 252. 355. 363. 143. 261. 258. 217.  35.  79. 105.
 103. 191. 119. 108. 307. 208. 161. 288. 157. 282. 200.  50. 287. 552.
 392. 211. 361. 192. 397.  69. 292.  40. 247. 177. 141. 260. 110. 335.
 166. 320. 280. 378.  64. 221. 269. 262. 341. 120. 309. 650. 399. 319.
 121. 402. 170. 446. 185. 323.  31.  29. 315. 246. 145. 364. 295. 273.
 116. 594. 223. 294. 206. 248.  51. 263. 360.  21. 184. 303. 332.  98.
 147. 302.  38. 270.  55. 384. 311.  37. 277. 229. 337. 197.  73. 473.
  39. 368. 527. 207. 372. 265. 274. 109. 414. 440. 209. 339. 338. 255.
 228. 395. 354. 370. 243. 308. 283. 348. 305. 425. 484. 393. 107. 366.
 472. 272. 374. 502. 535. 449. 427. 212. 251. 331. 300. 350. 213. 387.
 377. 342. 202. 297. 240. 333. 336. 275.  30. 434. 276. 530. 420. 352.
 410. 237. 657. 380. 505. 365. 330. 442. 383. 457. 369. 401. 388. 256.
 299. 559. 316. 469. 385. 394. 492. 426. 479. 480. 375. 616. 409. 421.
 470. 254. 236. 219.  28. 443. 398. 381. 495. 461. 403. 439. 462. 485.
 373. 400. 438. 390. 471. 435. 547. 359. 328. 496. 447. 376. 344. 422.
 345. 407. 504. 317. 396. 389.  18. 536. 538. 429. 653. 351. 459. 325.
  23. 437. 600. 436. 413. 334. 371. 456. 510. 482. 406. 639.  26. 314.
 448. 428. 477. 405. 411. 386. 560. 498. 412.  13. 432. 367. 548. 489.
 318.  22. 445. 417. 452. 467. 507. 379. 404. 487. 424. 518. 450. 444.
 475. 516. 532. 565. 415. 486. 491. 466. 603. 513. 362. 551. 391.  25.
 587. 902. 596. 465. 524. 642. 503. 346.  15. 382. 458. 638. 481. 693.
 556. 540. 634. 509. 545. 416. 590. 508. 709. 526. 501. 608.  12. 463.
 478. 531. 490. 573. 464. 500.  14.  16. 494. 612. 630. 511. 460. 558.
 476. 554. 497. 572. 586. 629. 669.  17. 423. 714. 591. 618. 549. 604.
 454. 523. 468. 543. 544. 534. 592. 655. 455. 539. 550. 580. 525. 568.
 593. 433. 625. 520. 521. 474. 522. 574. 483. 537. 529. 601. 567. 613.
  11. 583. 673. 606. 555. 633. 499. 585. 546. 681. 688. 512. 584. 598.
 528. 582. 748. 588. 610. 453.  10. 564. 644. 506. 643. 675. 541. 557.
 615. 562. 514. 619. 646. 581.   8. 605. 533. 696. 571. 691. 566. 597.
 570. 641. 575.   5. 542. 576. 698. 561. 589. 517. 720. 692. 519. 626.
 631. 647. 635. 621. 563. 636. 595. 684. 553. 648. 607. 645. 706. 627.
 624. 816.   9. 654. 623. 719. 602.]
['mo_sin_rcnt_rev_tl_op']: [  3.   1.   7.  24.  11.   6.   4.  22.   9.  17.   8.  19.   0.   2.
  27.  12.  15.  39.  10.  21.  13.  32.   5.  29.  66.  30.  59.  18.
  14.  33.  37.  20.  34.  16.  49.  41.  23.  43.  28.  35.  38.  31.
  40.  25.  36.  74.  26.  63.  52.  48.  47.  44.  57.  91.  42. 127.
  81.  45.  65.  80.  67. 249.  54.  51.  46.  53. 144.  94.  56.  68.
  88.  87.  99.  55.  50.  70.  58.  83.  60. 164.  84. 122.  76. 138.
 107.  62. 149. 133.  64.  73.  93.  79.  89.  61. 104.  92. 105. 172.
  77.  82.  96. 175. 151. 166. 263.  72.  75. 131. 154.  85. 113. 192.
  69. 102.  71.  90. 125.  78. 114. 174. 126. 115. 132. 118. 101. 136.
 143.  86.  98. 161. 215. 111. 195.  97. 110. 295. 191. 157. 112. 106.
 134. 123. 141. 155. 103. 181. 158.  95. 100. 147. 128. 116. 129. 145.
 178. 307. 162. 140. 119. 120. 186. 139. 117. 146. 109. 165. 267. 243.
 197. 229. 130. 163. 193. 199. 564. 124. 185. 135. 238. 156. 173. 121.
 142. 170. 171. 152. 148. 188. 167. 233. 224. 159. 213. 137. 208. 108.
 187. 160. 290. 348. 153. 218. 196.]
['mo_sin_rcnt_tl']: [  3.   1.   4.   9.  11.   6.   8.  15.   0.   7.   2.  10.  12.  13.
  19.   5.  17.  20.  18.  14.  21.  27.  16.  23.  22.  31.  25.  30.
  24.  32.  35.  38.  34.  29.  28.  36.  44.  26.  33.  56.  51.  40.
  41.  37.  45.  76.  55.  48.  42.  43.  39.  53.  50.  59.  62.  47.
  54.  52.  67.  94. 141.  46.  60.  58.  65.  57.  63. 170.  64.  49.
  78. 153.  73.  69. 123.]
['mort_acc']: [ 0.  2.  4.  1.  5.  3.  6.  7. 10.  9. 11.  8. 14. 15. 12. 16. 13. 18.
 17. 20.]
['mths_since_recent_bc']: [ 20.   1.   7.  34.  11.  13.  35.   4.   6.   3.  22.   9.  31.  79.
  19.  26.   0.   2.  10.  68.  12. 114.  40.  21.  37.  49.   5.  39.
  67.  24.  51.  43.  28.  52.  17.  27.   8. 176.  18.  15.  14.  62.
 101.  33.  16.  87.  41.  23.  82.  42.  88.  30.  89.  55.  93.  69.
  45.  61.  56.  38.  53. 285.  50.  78.  25.  71. 127.  72. 141.  36.
  29.  48.  74.  44.  63.  57.  32.  58.  59.  98. 204. 123. 143.  46.
  86.  73.  64.  76.  91.  83.  81. 155. 137. 132. 105.  65.  80. 306.
 100.  92.  96.  54. 144. 145. 192.  66.  60.  94. 163. 135.  47. 216.
 153. 121.  85. 133.  77.  70. 368.  99. 110. 130. 126.  95. 140. 125.
 111. 129. 225. 103. 164. 237.  84. 150. 156. 161. 138. 211. 151. 187.
 160. 199. 288. 124.  97. 116. 107. 174.  90. 112. 104. 139. 203. 232.
 142. 146. 231. 172. 115. 212. 134. 122. 484. 260. 167. 169. 363. 120.
 189. 106. 313. 262. 166. 263. 158. 162. 257. 196. 438. 147. 154. 175.
 102. 119. 170.  75. 331. 136. 292. 118. 186. 190. 181. 152. 148. 221.
 236. 108. 117. 226. 378. 289. 194. 248. 149. 373. 264. 113. 215. 165.
 128. 219. 312. 302. 131. 206. 364. 168. 233. 239. 173. 223. 157. 191.
 159. 255. 109. 273. 205. 251. 171. 404. 198. 220. 323. 182. 185. 218.
 434. 179. 178. 247. 307. 293. 380. 188. 184. 276. 183. 177. 343. 270.
 399. 210. 267. 316. 348. 299. 330. 527. 197. 294. 229. 392. 358. 297.
 201. 342. 193. 564. 335. 209. 310. 242. 372. 384. 238. 207. 483. 295.
 388. 259. 208. 401. 433. 271. 235. 245. 217. 283. 471. 279. 244. 195.
 375. 265. 462. 240. 230. 278. 407. 222. 224. 202. 180. 200. 213. 241.
 256. 325. 254. 352. 287. 272. 243. 228. 349. 366. 337. 281. 214. 253.
 290. 355. 416. 410. 430. 443. 301. 326. 252. 515. 275. 357. 379.]
['mths_since_recent_inq']: [ 1. 11.  7.  0.  3.  2.  4. 23.  8. 10. 12. 13. 19.  5.  6. 21.  9. 14.
 18. 22. 15. 20. 16. 17. 24.]
['num_accts_ever_120_pd']: [ 0.  3.  6.  1.  4.  2.  5. 11.  7.  9. 15. 10. 13.  8. 14. 12. 16. 26.
 28. 18. 21. 20. 17. 23. 19. 22. 24. 27. 30. 34.]
['num_actv_bc_tl']: [ 1.  7.  2.  4.  3.  6.  9. 10.  0.  8. 12.  5. 11. 15. 13. 14. 23. 19.
 20. 17. 16. 22. 18. 24. 21. 26. 25.]
['num_actv_rev_tl']: [ 2. 11.  5.  6.  3.  9.  8. 14.  1.  4. 15. 18.  7. 23. 10. 12. 13. 21.
  0. 16. 17. 20. 43. 25. 32. 19. 24. 26. 22. 33. 27. 28. 36. 29. 37. 31.
 30. 41.]
['num_bc_sats']: [ 1.  8.  2.  4.  7.  3.  6. 10.  9. 13. 12.  5. 11. 14. 21. 15. 16. 18.
 17. 20. 19. 23. 22. 24. 26. 29. 25. 27.  0. 33. 28. 31. 37. 34. 36. 30.
 38. 43. 42.]
['num_bc_tl']: [ 1. 13.  7.  4. 11. 10.  6.  8.  3. 15.  5. 14. 12.  2. 19.  9. 16. 20.
 18. 17. 23. 36. 21. 27. 28. 29. 25. 26. 24. 22. 31. 30. 41. 34. 35. 39.
 37. 32. 38. 44. 47. 33. 43. 45. 54. 42. 60.]
['num_il_tl']: [ 10.  14.   8.  17.   6.  36.  20.   2.   4.  12.   7.   5.  24.  13.
  15.   3.  23.   9.  22.   1.  11.  19.  26.  21.  34.  28.  29.  18.
  16.  27.  62.  30.  38.  33.  41.  25.  44.  40.  32.  35.  31.  37.
  58.  39.  63.  50.  52.  42.  45.  43.  55.  74.  47.  66.  59.  48.
  49.  51.  64.  67.  72.  56.  86.  54.  61.  78.  46.  68.  53.  57.
  60.  80.  65.  70. 149.  71.  79.  75.  85.  93.  69.]
['num_op_rev_tl']: [ 3. 13.  5.  6. 12.  9.  8. 19.  1. 11. 16. 23.  7.  4. 10. 27. 21. 14.
  2. 15. 20. 18. 17. 28. 31. 35. 24. 22. 41. 25. 32. 26. 33. 50. 29. 36.
 34. 30. 38. 43. 39. 37. 40. 44. 42. 56. 58. 46. 45. 57. 52. 49. 65. 59.
 47. 53. 70. 54.]
['num_rev_accts']: [ 3. 18. 13.  6. 21. 15. 10. 24.  5. 11.  7. 20. 27.  8.  4. 43.  9. 19.
 25. 29. 22. 12. 23. 32. 16. 17. 14.  2. 34. 35. 30. 42. 40. 37. 53. 51.
 26. 36. 33. 28. 41. 47. 31. 44. 39. 38. 56. 46. 48. 55. 45. 52. 50. 68.
 57. 49. 54. 64. 61. 58. 77. 67. 62. 72. 59. 84. 60. 75. 73. 71. 63. 65.
 83. 98. 79. 66. 86. 70. 93.]
['num_rev_tl_bal_gt_0']: [ 2. 11.  5.  6.  3.  9.  8. 14.  1.  4. 15. 18.  7. 23. 10. 12. 13. 21.
  0. 16. 17. 20. 43. 25. 32. 19. 24. 26. 22. 33. 27. 28. 36. 29. 37. 31.
 30. 41.]
['num_sats']: [ 8. 17. 10. 14. 11.  9. 27. 18.  4.  5. 19.  7.  6. 29. 13. 26. 15. 16.
 20. 21. 12. 25. 22. 23. 24. 32. 33. 31. 34.  3. 37. 46. 28. 35. 30. 52.
 38. 51. 36. 42.  2. 45. 43. 58. 39. 40. 54. 41. 49. 44. 56. 55. 48. 59.
 47. 62. 69. 53. 50. 57. 68. 60. 72.]
['num_tl_120dpd_2m']: [0.]
['num_tl_30dpd']: [0.]
['num_tl_90g_dpd_24m']: [ 0.  1.  4.  5.  2.  7.  3.  8. 13. 11.  6. 18. 14.  9. 10. 15. 16. 12.]
['num_tl_op_past_12m']: [ 3.  6.  4.  1.  0.  2.  9.  5.  7. 15. 11.  8. 10. 14. 12. 17. 13. 16.
 19.]
['pct_tl_nvr_dlq']: [ 85.7  91.2  66.7 100.   93.1  97.2  98.1  76.2  93.8  86.7  84.6  91.7
  94.4  97.8  94.1  90.5  95.   95.2  96.6  89.7  86.4  92.3  87.5  92.9
  96.8  96.9  97.1  97.4  81.8  94.7  81.   73.   96.   96.3  80.8  97.5
  95.8  90.9  93.3  91.3  94.6  85.   83.3  96.7  84.4  95.5  84.2  95.3
  87.   95.7  88.9  89.3  58.6  98.8  75.   70.6  88.2  93.2  97.6  90.
  77.8  97.9  87.8  83.   96.4  73.3  78.6  98.2  76.9  76.   82.1  96.2
  97.7  92.7  98.6  89.5  92.5  88.5  77.4  95.1  81.3  85.4  78.9  73.9
  80.   72.7  92.   91.4  65.6  93.9  90.2  75.9  96.1  79.4  86.8  90.6
  97.   98.   84.   77.3  58.3  71.4  88.   81.5  68.   75.8  70.   74.2

# Split the Data into Training and Testing

In [74]:
#Refer to module 18.7.2
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Create our features
df2=df.copy()


#Use binary encoding on pymnt plan/hardship flag/debt settlement flag = ONE COLUMN EACH
loans_binary_encoding = pd.get_dummies(df2, columns=["initial_list_status", "application_type", "pymnt_plan", "hardship_flag", "debt_settlement_flag"])
loans_binary_encoding.head()

#Use label encoding on:
#home_ownership = OWN/RENT/MORTGAGE/ANY
#verification_status = NOT VERIFIED/SOURCE VERIFIED/VERIFIED
#loan status = HIGH RISK/LOW RISK
#**Loan status is label encoded so it is easier to drop a singular column
df3=loans_binary_encoding.copy()
df3["loan_status"] = le.fit_transform(df3["loan_status"])
df3["verification_status"] = le.fit_transform(df3["verification_status"])
df3["home_ownership"]=le.fit_transform(df3["home_ownership"])

#Use custom encoding on month issue column
#Create a dictionary of months in dataframe
issue_month = {
    "Jan-2019": 1,
    "Feb-2019": 2,
    "Mar-2019": 3,
    "Apr-2019": 4,
    "May-2019": 5,
}
#Apply custom function to convert string to integers
df3["month_issued"] = df3["issue_d"].apply(lambda x: issue_month[x])
df3["next_payment"] = df3["next_pymnt_d"].apply(lambda x: issue_month[x])
X = df3.drop(["loan_status","issue_d","next_pymnt_d"], axis = 1)


# Create our target
y = df3["loan_status"]

X.head(15)

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,total_il_high_credit_limit,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,month_issued,next_payment
0,10500.0,0.1719,375.35,3,66000.0,1,27.24,0.0,0.0,8.0,...,61987.0,0,1,1,0,1,1,1,3,5
1,25000.0,0.2000,929.09,1,105000.0,2,20.23,0.0,0.0,17.0,...,49197.0,0,1,1,0,1,1,1,3,5
2,20000.0,0.2000,529.88,1,56000.0,2,24.26,0.0,0.0,8.0,...,43144.0,0,1,1,0,1,1,1,3,5
3,10000.0,0.1640,353.55,3,92000.0,2,31.44,0.0,1.0,10.0,...,76506.0,0,1,1,0,1,1,1,3,5
4,22000.0,0.1474,520.39,1,52000.0,0,18.76,0.0,1.0,14.0,...,20000.0,0,1,1,0,1,1,1,3,5
5,25000.0,0.1797,634.43,1,90000.0,1,18.49,1.0,1.0,14.0,...,369051.0,0,1,1,0,1,1,1,3,5
6,20400.0,0.2000,540.48,3,51315.0,1,25.63,0.0,2.0,8.0,...,27523.0,0,1,1,0,1,1,1,3,5
7,10000.0,0.1557,349.46,2,66000.0,1,9.00,0.0,0.0,11.0,...,12500.0,0,1,1,0,1,1,1,3,5
8,14000.0,0.0881,443.96,3,45000.0,0,10.24,0.0,1.0,9.0,...,3000.0,1,0,1,0,1,1,1,3,5
9,10000.0,0.1474,345.39,3,63295.0,2,39.34,0.0,0.0,27.0,...,80722.0,0,1,1,0,1,1,1,3,5
10,8500.0,0.0819,267.11,3,75000.0,0,17.31,0.0,2.0,8.0,...,57000.0,0,1,1,0,1,1,1,3,5
11,10000.0,0.1171,330.76,3,54000.0,0,21.49,0.0,2.0,18.0,...,65500.0,0,1,1,0,1,1,1,3,5
12,30000.0,0.1033,642.30,1,100000.0,1,8.00,0.0,0.0,4.0,...,20000.0,0,1,1,0,1,1,1,3,5
13,15800.0,0.1640,387.60,1,62000.0,1,8.44,0.0,1.0,5.0,...,4100.0,0,1,1,0,1,1,1,3,5
14,18000.0,0.1557,433.63,1,60000.0,2,62.80,0.0,0.0,9.0,...,73796.0,0,1,0,1,1,1,1,3,5

In [75]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,total_il_high_credit_limit,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,month_issued,next_payment
count,68817.000000,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0,68817.0,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,1.812779,8.821371e+04,0.669994,21.778153,0.217766,0.497697,12.587340,...,5.572240e+04,0.123879,0.876121,0.860340,0.139660,1.0,1.0,1.0,1.726172,4.616839
std,10277.348590,0.048130,288.062432,0.941313,1.155800e+05,0.719105,20.199244,0.718367,0.758122,6.022869,...,5.095845e+04,0.329446,0.329446,0.346637,0.346637,0.0,0.0,0.0,0.743862,0.486161
min,1000.000000,0.060000,30.890000,0.000000,4.000000e+01,0.000000,0.000000,0.000000,0.000000,2.000000,...,1.270000e+02,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0,1.000000,4.000000
25%,9000.000000,0.088100,265.730000,1.000000,5.000000e+04,0.000000,13.890000,0.000000,0.000000,8.000000,...,2.288000e+04,0.000000,1.000000,1.000000,0.000000,1.0,1.0,1.0,1.000000,4.000000
50%,15000.000000,0.118000,404.560000,1.000000,7.300000e+04,1.000000,19.760000,0.000000,0.000000,11.000000,...,4.200000e+04,0.000000,1.000000,1.000000,0.000000,1.0,1.0,1.0,2.000000,5.000000
75%,24000.000000,0.155700,648.100000,3.000000,1.040000e+05,1.000000,26.660000,0.000000,1.000000,16.000000,...,7.249900e+04,0.000000,1.000000,1.000000,0.000000,1.0,1.0,1.0,2.000000,5.000000
max,40000.000000,0.308400,1676.230000,3.000000,8.797500e+06,2.000000,999.000000,18.000000,5.000000,72.000000,...,1.426964e+06,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,3.000000,5.000000

In [76]:
# Check the balance of our target values

y.value_counts()

1    68470
0      347
Name: loan_status, dtype: int64

In [77]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1,stratify=y)
X_train.shape

(51612, 87)

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [78]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

In [79]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [82]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test,y_pred)

0.6452695488918703

In [81]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[   52,    35],
       [ 5258, 11860]], dtype=int64)

In [83]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.60      0.69      0.02      0.64      0.41        87
          1       1.00      0.69      0.60      0.82      0.64      0.42     17118

avg / total       0.99      0.69      0.60      0.81      0.64      0.42     17205

### SMOTE Oversampling

In [84]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(
X_train, y_train)

In [85]:
# Train the Logistic Regression model using the resampled data
model=LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [86]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test,y_pred)

0.6308624517043967

In [87]:
# Display the confusion matrix
confusion_matrix(y_test,y_pred)

array([[   53,    34],
       [ 5948, 11170]], dtype=int64)

In [88]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.61      0.65      0.02      0.63      0.40        87
          1       1.00      0.65      0.61      0.79      0.63      0.40     17118

avg / total       0.99      0.65      0.61      0.78      0.63      0.40     17205

# Undersampling

In this section, you will test an undersampling algorithms to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [89]:
# Resample the data using the ClusterCentroids resampler
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.under_sampling import RandomUnderSampler
ros = RandomUnderSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 260, 1: 260})

In [90]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled,y_resampled)

LogisticRegression(random_state=1)

In [92]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.5800528582536633

In [91]:
# Display the confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[  51,   36],
       [7294, 9824]], dtype=int64)

In [93]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.59      0.57      0.01      0.58      0.34        87
          1       1.00      0.57      0.59      0.73      0.58      0.34     17118

avg / total       0.99      0.57      0.59      0.72      0.58      0.34     17205

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [94]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X,y)

In [95]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled,y_resampled)

LogisticRegression(random_state=1)

In [96]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.5800528582536633

In [97]:
# Display the confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[  64,   23],
       [7346, 9772]], dtype=int64)

In [98]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.01      0.74      0.57      0.02      0.65      0.43        87
          1       1.00      0.57      0.74      0.73      0.65      0.41     17118

avg / total       0.99      0.57      0.73      0.72      0.65      0.41     17205